{% extends "smart-links/_layouts/settings" %}
{% import '_includes/forms.twig' as forms %}

{% set title = 'Field Layout'|t('smart-links') %}
{% set selectedSettingsItem = 'field-layout' %}
{% set fullPageForm = not (readOnly ?? false) %}
{% if readOnly ?? false %}
    {% set contentNotice = readOnlyNotice() %}
{% endif %}

{% block content %}
    {% include 'lindemannrock-base/_components/ip-salt-error' with {
        pluginHandle: 'smart-links',
        envVarName: 'SMART_LINKS_IP_SALT'
    } %}

    {% if not (readOnly ?? false) %}
        {{ actionInput('smart-links/settings/save-field-layout') }}
        {{ redirectInput('smart-links/settings/field-layout') }}
    {% endif %}


    <div class="field">
        <p class="readable">
            {{ 'Add custom fields to {singularName} elements. Any fields you add here will appear in the {singularName} edit screen.'|t('smart-links', {singularName: smartlinkHelper.displayName}) }}
        </p>
    </div>

    {% if fieldLayout is defined and fieldLayout %}
        {{ forms.fieldLayoutDesignerField({
            fieldLayout: fieldLayout,
            disabled: readOnly ?? false,
        }) }}
    {% else %}
        <p class="notice">{{ 'No field layout available.'|t('smart-links') }}</p>
    {% endif %}

{% include 'lindemannrock-base/_components/plugin-credit' %}


{% endblock %}
