{% extends "smart-links/_layouts/settings" %}
{% import '_includes/forms.twig' as forms %}

{% set title = 'Field Layout'|t('smart-links') %}
{% set selectedSettingsItem = 'field-layout' %}
{% set fullPageForm = not (readOnly ?? false) %}
{% if readOnly ?? false %}
    {% set contentNotice = readOnlyNotice() %}
{% endif %}

{% block content %}
    {% if not (readOnly ?? false) %}
        {{ actionInput('smart-links/settings/save-field-layout') }}
        {{ redirectInput('smart-links/settings/field-layout') }}
    {% endif %}
    

    <div class="field">
        <p class="readable">
            {{ 'Add custom fields to Smart Link elements. Any fields you add here will appear in the Smart Link edit screen.'|t('smart-links') }}
        </p>
    </div>

    {% if fieldLayout is defined and fieldLayout %}
        {{ forms.fieldLayoutDesignerField({
            fieldLayout: fieldLayout,
            disabled: readOnly ?? false,
        }) }}
    {% else %}
        <p class="notice">{{ 'No field layout available.'|t('smart-links') }}</p>
    {% endif %}

{% include 'smart-links/_components/plugin-credit.twig' %}


{% endblock %}
