{% extends "smart-links/_layouts/settings" %}
{% set title = "Interface Settings"|t('smart-links') %}
{% set fullPageForm = true %}
{% set selectedSettingsItem = 'interface' %}

{% set plugin = craft.app.plugins.getPlugin('smart-links') %}{% set crumbs = [
    {
        label: plugin.settings.pluginName|t('smart-links'),
        url: url('smart-links'),
    },
    {
        label: 'Settings'|t('smart-links'),
        url: url('smart-links/settings'),
    },
    {
        label: 'Interface'|t('smart-links'),
        url: url('smart-links/settings/interface'),
    },
] %}

{% import "_includes/forms" as forms %}

{% block content %}
    {% set pluginName = plugin.settings.pluginName %}

    {% include 'smart-links/_components/ip-salt-error' %}

    <form method="post" accept-charset="UTF-8">
        {{ actionInput('smart-links/settings/save') }}
        {{ csrfInput() }}
        {{ redirectInput('smart-links/settings/interface') }}

        <h2 style="margin-top: 0px;">{{ "Interface Settings"|t('smart-links') }}</h2>

        {{ forms.textField({
            label: "Items Per Page"|t('smart-links'),
            instructions: "Number of {pluginName} to show per page"|t('smart-links', {pluginName: pluginName|lower}),
            id: 'itemsPerPage',
            name: 'settings[itemsPerPage]',
            value: settings.itemsPerPage ?? 100,
            type: 'number',
            min: 10,
            max: 500,
            disabled: settings.isOverriddenByConfig('itemsPerPage'),
            warning: settings.isOverriddenByConfig('itemsPerPage') ?
                "This is being overridden by the <code>itemsPerPage</code> setting in <code>config/smart-links.php</code>."|t('smart-links')|raw : null,
            errors: (settings is defined and settings) ? settings.getErrors('itemsPerPage') : []
        }) }}

        <div class="buttons">
            <button type="submit" class="btn submit">{{ "Save Settings"|t('smart-links') }}</button>
        </div>
    </form>

    {% include 'smart-links/_components/plugin-credit.twig' %}
{% endblock %}
